Multiple items in :scope get sent to authorization endpoint delimited by spaces instead of comma

When omniauth is initiating the OIDC flow and makes a request to the authorization endpoint of the provider, I noticed that the value of scope has a space in it if there are multiple scopes being requested. This causes the code that comes back from the provider to not have the valid grants. Is there a reason why multiple scopes are sent delimited by spaces instead of commas?

<img width="290" alt="image" src="https://github.com/user-attachments/assets/0549a874-ac7b-430f-82cc-bbec26cfa6ed">


@leehsueh 

The scope parameter is defined to be space-delimited in RFC 6749 Section 3.3.

> The value of the scope parameter is expressed as a list of space-delimited, case-sensitive strings.

If your provider expects comma-separated scopes, it's not following the standard. You may need to check with the provider's documentation or support.